* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Roboto&display=swap');

body {
    background-color: rgb(255, 245, 245);
}

header,
section h2 {
    font-family: 'Gemunu Libre', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-color: royalblue;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    font-weight: bold;
}

a, a:visited {
    text-decoration: none;
    color: rgb(33, 155, 255);
}

a:hover {
    text-decoration: underline;
}

header nav li a, header nav li a:visited {
    color: #ecf0f1;   
}

.wrapper {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header .wrapper,
section .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inline-img {
    height: 12px;
    display: inline-block;
}

section .wrapper {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
}

section p {
    margin-bottom: 12px;
}

section {
    color: black;
}

section .wrapper .main-image-left,
section .wrapper .main-image-right {
    height: 200px;
}

section .wrapper .main-image-left {
    margin-right: 32px;
}

section .wrapper .main-image-right {
    margin-left: 32px;
}

a.img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.img img {
    height: 24px;
    margin-right: 4px;
}

#contact .wrapper {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

section h3 {
    margin-bottom: 16px;
}

footer {
    background-color: royalblue;
    color: #ecf0f1;
    padding: 16px 0;
}
